*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

input {
  padding: 5px;
  border-radius: 5px;
}

textarea {
  padding: 10px;
  border-radius: 5px;
  resize: none;
  height: auto;
  min-height: 50px;
  width: 100%;
}

button {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.screen {
  padding: 20px 20px 40px 20px;
  height: 100%;
}

.dashboard_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 100%;
}
/* layout CSS */
.border {
  border: 1px solid rgb(11, 0, 170);
}

.border_radius_5 {
  border: 1px solid rgb(11, 0, 170);
  border-radius: 5px;
}

.border_radius_10 {
  border: 1px solid rgb(11, 0, 170);
  border-radius: 10px;
}

.border_radius_15 {
  border: 1px solid rgb(11, 0, 170);
  border-radius: 15px;
}

.border_radius_20 {
  border: 1px solid rgb(11, 0, 170);
  border-radius: 20px;
}

.padding_5 {
  padding: 5px;
}

.padding_10 {
  padding: 10px;
}

.padding_15 {
  padding: 15px;
}

.padding_20 {
  padding: 20px;
}

.row_space_around {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.row_space_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.row_space_between_flex_start {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.row_with_gap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.row_with_wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.col_gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.col_no_gap {
  display: flex;
  flex-direction: column;
}

.center_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center_margin {
  margin-left: auto;
  margin-right: auto;
}

.flex_03 {
  flex: 0.3;
}

.flex_04 {
  flex: 0.4;
}

.flex_1 {
  flex-grow: 1;
}

.height_90 {
  min-height: 90%;
}

.height_95 {
  min-height: 95%;
}

.height_100 {
  min-height: 100%;
}

.pointer {
  cursor: pointer;
}

.selected {
  background-color: green;
}

/*  */

.messages_container {
  display: flex;
  gap: 15px;
  flex-grow: 1;
  max-height: 85vh;
}

.messaging_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* height: 100%; */
  justify-content: space-between;
}

.messaging_container_messages {
  flex: 1;
  border: 1px solid rgb(11, 0, 170);
  padding: 15px;
  overflow-y: auto;
  border-radius: 5px;
}

.message {
  margin-bottom: 20px;
  min-width: 20px;
  max-width: 200px;
  padding: 10px 10px 0px 10px;
  position: relative;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  border-radius: 5px;
}

.messaging_container_messages_details {
  margin-top: 15px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sent {
  background-color: #dcf8c6;
  margin-left: auto;
}

.received {
  background-color: #e9e9e9;
}
